@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model JuegoDeLaVida.MVC.Models.Matriz
@{
}
<style>
    #celula_viva{
        background :red;
        color:red;
        border:2px solid black;
    }

    #celula_muerta {
        background: white;
        color:white;
        border: 2px solid black;
    }
</style>
<h1>
    Juego de la vida
</h1>
<form method="post" asp-action="SiguienteGeneracion">
    <table>
        @for (int i = 0; i < @Model.Filas; i++)
        {
            <tr>
                @for (int j = 0; j < @Model.Columnas; j++)
                {
                    <td>
                        @if(@Model.Matriz1[i,j]==true)
                        {
                        <div id="celula_viva"><h2>M</h2></div>
                        }
                        else 
                        {
                        <div id="celula_muerta"><h2>M</h2></div>
                        }
                        
                    </td>
                }
            </tr>
        }
    </table>
    <div>
        @Html.LabelFor(model => model.Iteraciones)
        @Html.TextBoxFor(model => model.Iteraciones)
    </div>

    <div>
        <input type="submit" value="Numero de iteracion" />
    </div>
    
</form>










